body {
  font-family: Arial, sans-serif;
  background: #f4f8fb;
  margin: 0;
}

header {
  background: #0b6efd;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.hospital-img {
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.btn {
  background: white;
  color: #0b6efd;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  border-radius: 6px;
  display: inline-block;
}

.btn.admin {
  background: #ffcc00;
  color: black;
}